{
  "rules": {
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "comment-empty-line-before": [ "always", {
        "ignore": ["stylelint-commands", "between-comments"]
    } ],
    "unit-whitelist": ["em", "rem", "%", "s", "px", "vw", "vh", "deg"]
  }
}
